html {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.65em;
}

body {
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  color: inherit;
  background-color: #faefd1;
  margin-top: 70px;
  padding-top: 0;
  counter-reset: captions;
  padding-right: 0px !important;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  font-size: 0.93rem;
}

/* mini correspond à des mini-logo */
.mini img {
  width: 20px;
}

.mini img:hover {
  width: 25px;
}

/* Color for links and image's links*/
a {
  color: #003f5f;
  text-shadow: 0 0 0 #003f5f60;
}

a i {
  color: #2e7891;
}

nav a i {
  color: #faefd1;
}

.site-footer {
  margin-top: 0px;
  padding-top: 5px;
  border-top: 5px solid #2e7891;
  font-size: 80%;
  line-height: 130%;
}

.footnote {
  text-indent: 0%;
  text-align: left;
  font-size: 80%;
  line-height: 125%;
}

.footnote br {
  display: block;
  margin: 8px 0;
}

i {
  padding-left: 4px;
  vertical-align: middle;

}

.small-text {
  font-size: 0.8em;
}

.small-text h3, p{
  margin-bottom: 0%;
}
/*Style for the publications and communications lists */

#publication_inter p,
#publication_nat p,
#communications li {
  font-size: 80%;
  line-height: 120%;
  margin: 4px 0px 4px 0px;
  text-indent: -2%;
}

.titre {
  font-family: "Averia Serif Libre", serif;
  font-size: 95%;
}

img[alt="minilogo"] {
  display: inline;
  vertical-align: middle;
  max-width: 20px;
  max-height: 18px;
}

/* Image for Lists  */

.container-fluid li {
  list-style: none;
}

.container li {
  list-style: none;
}

.container-fluid li:before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  color: #2e7891;
  margin-right: 5px;
  font-weight: 900;
}

.container li:before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  color: #2e7891;
  margin-right: 5px;
  font-weight: 900;
}

.container {
  padding: 0;
  max-width: 1200px;
}

#contact li:before {
  content: "";
}

.network-icon li {
  margin-left: 1px;
}

.network-icon li:before {
  content: none;
}

#navbar li:before {
  content: none;
}

li li:before {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  color: #2e7891;
  margin-right: 5px;
  font-weight: 900;
}

.dropdown-menu {
  background-color: #2e7891 !important;
  font-size: 16px;
}

.dropdown-item a {
  color: #fff;
  padding-left: 0px;
  text-decoration: none;
  -webkit-transition: border 0.5s ease-in;
  -moz-transition: border 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: border 0.5s ease-in;
}

.dropdown-item a:hover {
  border-right: 20px solid #fff;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #2e7891;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.4;
  white-space: nowrap;
}

/*************************************************
   *  Carroussel
   **************************************************/
.hero-overlay a {
  color: #fff;
}

.hero-lead {
  text-indent: 0%;
  text-align: center;
  margin: 0 auto 0 auto;
}

#hero_carousel {
  margin-bottom: 40px;
}

.hero-overlay {
  padding: 3em 0;
  clear: both;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: intro 0.3s both;
  animation-delay: 0.25s;
}
.carousel-item {
  position: relative;
  display: none;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.hero-overlay .hero-title,
.hero-overlay .hero-lead,
.hero-overlay .btn {
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.hero-title {
  font-size: 2.7rem;
  margin-top: 0;
  line-height: 1;
  text-align: center;
  text-indent: 0%;
}

/*************************************************
   *  Outils customization
   **************************************************/

.outils ul {
  padding: 10px 0 0 20px;
}
.outils li:before {
  content: "-";
  color: #2e7891;
  margin-right: 7px;
  font-weight: 900;
}

/*************************************************
   *  home section
   **************************************************/

.home-section {
  background-color: #e5d7b1;
  padding: 20px 0 20px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

.home-section:nth-of-type(2n) {
  background-color: #faefd1;
}

#profile {
  text-align: center;
  padding: 30px 10px;
  position: relative;
}

.portrait-title h3 {
  color: rgba(0, 0, 0, 0.54);
}

img.portrait {
  margin: 0 auto;
}

/*************************************************
   *  card home
   **************************************************/
.card {
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
  line-height: 120%;
}

.card ul {
  margin-bottom: 6px;
}

.card p:last-child {
  margin-bottom: 0;
}
.card .card-text p {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.75rem;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 2px;
}
/*************************************************
   *  Navbar customization
   **************************************************/

.navbar {
  min-height: 70px !important;
}
.navbar-light {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  background: #2e7891 !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.11);
}

.nav-link {
  margin-left: 20px;
  margin-right: 0%;
}

a.nav-link {
  font-weight: 900;
}

a.active {
  color: #faefd1 !important;
  border-bottom: 2px solid #faefd1;
}

.nav-link:hover {
  color: #faefd1 !important;
}

.navbar button {
  font-size: 140%;
  background-color: #2e7891;
  margin: 0%;
  padding-left: 0%;
  color: #003f5f;
}

button.active {
  color: #faefd1 !important;
}

.navbar-brand img {
  max-height: 50px;
}

/*************************************************
   *  Title
   **************************************************/

h1 {
  font-size: 170%;
  color: #2e7891;
  font-family: "Crete Round", "Arial";
  text-indent: 10%;
}

.section-heading h1 {
  margin-left: 0%;
}

h2 {
  display: flex;
  flex-direction: row;
  color: #2e7891;
  font-size: 115%;
  font-family: "Crete Round", "Arial";
}

h2:after {
  content: "";
  flex: 1 1;
  border-bottom: 5px solid #2e789180;
  margin: auto auto auto 2%;
}

h3 {
  color: #2e7891;
  font-size: 105%;
  font-weight: normal;
  font-style: italic;
  padding: 5px;
  font-family: "Crete Round", "Arial";
}

h4 {
  text-indent: 4%;
  font-weight: 700;
  margin: 2px;
  color: #2e7891;
  margin-top: 1rem;
  font-size: 0.9rem;
}

p {
  text-indent: 3%;
  text-align: justify;
  font-family: "Quicksand", "Arial";
}

/*************************************************
   *  Footer
   **************************************************/

ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  max-width: 80%;
}

.big-icon {
  font-size: 2rem;
}

/*************************************************
   *  Definition lists (in initial formation)
   **************************************************/

dt {
  float: left;
  clear: left;
  width: 12%;
  font-style: italic;
  font-size: 0.95em;
  font-weight: 400;
}

dd {
  margin-left: 15%;
}

/*************************************************
   *  Tables
   **************************************************/

table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #2e7891;
}

/* Table Striped */
table > tbody > tr:nth-child(even) > td,
table > tbody > tr:nth-child(even) > th {
  background-color: rgb(229, 215, 177);
  border-top: 2px solid #2e7891;
}

/* Table Striped */
table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
  background-color: #faefd1;
  border-top: 2px solid #2e7891;
}

/* Table Hover */
table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
  background-color: #bdbbbb;
}

/*************************************************
   For extrasmall device discard the negative margin in .row 
   to avoid row wider than container
   **************************************************/

@media (max-width: 564px) {
  .row {
    margin: 0%;
  }
  p {
    margin: 2%;
  }
  .container-fluid {
    padding-right: 5px;
    padding-left: 5px;
  }
  ul {
    padding-left: 5px;
  }
}

/*************************************************
   *  Wider container for very large screen
   **************************************************/

@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

/*************************************************
   *  Portfolio
   **************************************************/

.portfolio-container p {
  font-size: 80%;
}

.portfolio-container:nth-of-type(2n) {
  background-color: #e5d7b1;
}

.portfolio-container img {
  margin-top: 12px;
  border-radius: 2%;
  vertical-align: center;
}

.portfolio-container {
  margin-top: 80px;
  padding: 0%;
}

.portfolio-container ul {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0%;
}

.portfolio-container li {
  padding: 2px;
}

.portfolio-container li:before {
  content: none;
}

.portfolio-container li:hover {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .card-columns {
    margin: 15px;
  }
}
img,
video {
  height: auto;
  max-width: 100%;
  display: block;
}




/*************************************************
   *  Manifeste
   **************************************************/

@media (min-width: 768px) {
  .manifeste {
    column-count: 2;
    margin: 5%;
    column-rule: 3px solid #2e789180;
    column-gap: 8%;
  }
}

@media (max-width: 768) {
  .manifeste {
    column-count: 1;
    margin: 5%;
  }
}

.manifeste h1 {
  vertical-align: middle;
}

/*************************************************
   *  Cards
   **************************************************/

.card-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: block;
  margin: 5px auto auto auto;
}

.card-deck,
.card {
  text-align: left;
}

.card-deck {
  margin: 0%;
}

.card-body {
  padding: 0px 15px 0px 15px;
}

.card-title {
  text-align: center;
  font-variant-caps: all-small-caps;
  font-weight: bold;
}

.card-text ul {
  list-style-image: url(../img/logo/logo_fleche2.svg);
  font-size: 90%;
  padding-left: 4px;
  padding-right: 4px;
}

/*************************************************
   *  Short Title layout
   **************************************************/

.short_title {
  padding-left: 4%;
}
